# Arquivos de configuração pessoal e testes
*.cfg
!autoexec.cfg # Ignora todos os .cfg exceto o modelo se você quiser deixar um de exemplo

# Logs e arquivos temporários
*.log
*.tmp
*.temp

# Pastas de IDE (VS Code / Antigravity)
.vscode/
.history/

# Lixo do Sistema
Thumbs.db
Desktop.ini
.DS_Store
